@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,100;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:white;

} 

section{
    background: linear-gradient(to right, #ff80ff ,  #cc00cc);
    text-align: center;
     min-height: 100vh;
     
}

 #saasly{
   width: 100px;
   margin: 20px 0; 
 }
 #manos{
    width: 60px;
    padding-bottom: 6px;
 }
h1{
    margin-top: 100px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-size: 2em;
}
p{
    font-family: "Raleway"sans-serif;
    font-size: 1.5em;
}
    

#email{
    width: 400px;
    margin-bottom:  20px;
    height: 30px;
    text-align: left;
    padding-left: 5px;
    color:black;
}

#suscribe{
    width: 100px;
    margin-bottom:  20px;
    height: 30px;
    background-color: #ffad99 ;
    cursor: pointer;
}
#backBtn{
    margin-top: 150px;
    padding: 3px 20px;
    border:1px solid white ;
    background-color:transparent;
    font-family: "Releway"sans-serif;
    border-radius: 3px;
    font-size: 0.7em;
}
